* {
    padding: 0;
    margin: 0;
}

body {
    align-items: center; 
}

#main {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.cabecalho-form-one {
    grid-area: header;
    background-color: burlywood;
    height: 10vh;
    text-align: center;
    padding: 5px;
    width: 600px;
}

.form {
    grid-area: form;
    background-color: cornsilk;
    height: 80vh;
    text-align: left;
    padding-top: 20px;
    padding-left: 5px;
    width: 600px;
}

.footer {
    grid-area: footer;
    background-color: rgba(34, 61, 66, 0.219);
    height: 5vh;
    width: 600px;
}

.title {
   align-content: center;
}