* {
    padding: 0;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
}

.cabecalho-form-one {
    grid-area: header;
    background-color: burlywood;
    height: 10vh;
    text-align: center;
    padding: 2px;
}

.form {
    grid-area: form;
    background-color: cornsilk;
    height: 85vh;
    text-align: center;
    padding-top: 20px;
}

.footer {
    grid-area: footer;
    background-color: rgba(49, 90, 97, 0.171);
    height: 5vh;
}

.title {
   align-content: center;
}